/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #2199df;
  text-decoration: unset;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

button,
input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* general */

body {
  font-family: "Roboto", sans-serif;
}

.page {
  padding: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

/* header */

#header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
}
#header .title {
  margin: 0;
  padding: 0 1rem;
  color: #ffffff;
}
#header .auth-options {
  display: flex;
}
#header .auth-options button {
  margin: 0 1rem;
  font-size: 1.1rem;
}

/* #header .auth-options button:hover {
  background-color: #be3a3a;
} */

/* form */

.form {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 600px;
  justify-content: center;
}
.form label,
.form input {
  display: block;
  width: 100%;
}
.form input {
  margin-bottom: 1rem;
}
.form label {
  margin-bottom: 0.2rem;
}
.login {
  width: 500px;
}
button[type="submit"] {
  margin: 20px;
  width: 150px;
}
*/
/* .form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  background-color: #f0f0f0;
  font-size: 1.1rem;
}
.form input:focus {
  border: 1px solid #50a4e9;
  box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);
  outline: none;
}
.form input[type="submit"] {
  padding: 0.3rem 0.5rem;
  border: 1px solid #6aa051;
  border-radius: 8px;
  background-color: #c8ecb7;
  font-size: 1.1rem;
}

/* todo list */

.todo-list ul {
  list-style: disc;
  cursor: pointer;
}

.todo-list li:hover {
  text-decoration: line-through;
}

/* error notice */

.error-notice {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #e07c7c;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d6d6;
}
.error-notice button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #df4343;
  color: #ffffff;
}
.sensors-container {
  margin-top: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.sensor-box {
  width: 250px;
  height: 250px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns button {
  width: 100px;
  margin: 5px;
  height: 32px;
  border: 2px solid black;
}

.auth-options {
  position: relative;
}
.sensor-form {
  width: 500px;
  height: 500px;
  position: absolute;
  background-color: green;
  top: 500px;
  right: 50%;
  transform: translate(-50%, -50%);
}

/* media queries */

@media screen and (max-width: 550px) {
  #header .title {
    font-size: 1.2rem;
  }
  #header .auth-options button {
    padding: 0 0.5rem;
    font-size: 0.9rem;
  }
}
